<div class=e1_222>
    <div class=e1_223>
        <div class=e1_224>
            <div  class="e1_225"></div>
            <div  class="e1_226"></div>
        </div>
    </div>
    <div class=e1_269 >
        <div  class="e1_270">
        </div>
        <div  class="e1_271"></div>
        <div class=e1_280>
            <div class=e1_281>
                <div  class="e1_282"></div>
            </div>
        </div>
        <nav>
           <a routerLink="/kak_perestat_byt_varvarom" routerLinkActive="active" class="e1_283"> Как перестать быть варваром и начать сортировать мусор</a>
        </nav>
        <span  class="e1_286">Вы видите, как цветные баки на улице вытряхивают в один мусоровоз, или думаете, что из вторсырья в России точно не делают ничего путного, — и желание копаться в своих отходах сразу исчезает. The Village развеивает популярные мифы об отходах и пошагово рассказывает, как стать еще чуточку цивилизованнее, даже если вы живете в Москве, а не в Стокгольме.</span>
    </div>
    <div class=e1_295>
        <div  class="e1_296"></div>
        <div  class="e1_297"></div>
        <div class=e1_306>
            <div class=e1_307>
                <div  class="e1_309"></div>
            </div>
        </div>
        <a routerLink="/microplastic" routerLinkActive="active"  class="e1_310">Микропластик: Как крошечные частицы вредят природе и человеку</a>
        <span  class="e1_313">Средний житель Земли съедает и вдыхает 330 микрочастиц пластика в день. Микропластик есть в водопроводной воде, соли, организмах морских черепах и комаров. Чайные пирамидки оставляют миллиарды пластиковых крупиц в воде после заваривания. Пластиковый пакет обнаружили даже на дне Марианской впадины.</span></div>
        <div class=e6_61>
            <div  class="e6_62"></div>
            <div  class="e6_63"></div>
            <div class=e6_64>
                <div class=e6_65>
                    <div  class="e6_67"></div>
                </div>
            </div>
            <a routerLink="/microplastic" routerLinkActive="active" class="e6_68">10 привычек из СССР, которые стали экотрендами последних лет</a>
            <span  class="e6_70">Как известно, все новое — это хорошо (или не очень) забытое старое: все те вещи, которые мы сейчас пытаемся ввести в регулярную практику, оказывается, активно продвигались в Советском Союзе. Вспоминаем десять экотрендов из СССР, которые для наших родителей были очевидными, а сегодня стали верхом экологичности.</span>
        </div>
        <div class=e1_322>
            <span  class="e1_323">В Евросоюзе пересмотрят энергетическое законодательство ради климата</span>
            <span  class="e1_325">"К лету мы пересмотрим все наше энергетическое и климатическое законодательство, чтобы адаптировать его к (цели в) 55%", — сказала фон дер Ляйен в ходе видеовыступления на конференции Берлинский диалог по энергетической трансформации.</span>
            <span  class="e6_549">Главная новость</span>
        </div>
        <div class=e1_331>
            <div class=e1_332>
                <div class=e1_333>
                    <div  class="e1_334"></div>
                </div>
                <div class=e1_335>
                    <div class=e1_336> 
                    </div>
                </div>
                <div class=e1_348>
                    
                    <div class=e1_351>
                        <div  class="e4_347"></div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="e6_60"></div>
        <div class=e1_357>
            <div  class="e1_359"></div>
            <div  class="e1_360"></div>
        </div>
    </div>
