<div class=e6_163>
    <div class=e6_164><span  class="e6_165">Другие новости
  </span>
      <div class=e6_166>
        <div class=e6_167>
          <div class=e6_169>
            <div class="e6_168"></div>
            <div class="e6_170"></div>
          </div>
        </div><a routerLink="/microplastic" routerLinkActive="active" class="e6_171">Микропластик: Как крошечные частицы вредят природе и человеку</a>
        <div class="e6_172"></div>
      </div>
      <div class=e6_173>
        <div class=e6_174>
          <div class=e6_176>
            <div class="e6_175"></div>
            <div class="e6_177"></div>
            <div class="e6_178"></div>
          </div>
        </div>
        <div class="e6_180"></div>
      </div>
      <div class=e6_612>
        <div class=e6_613>
          <div class=e6_615>
            <div class="e6_614"></div>
            <div class="e6_616"></div>
            <div class="e6_617"></div>
          </div>
        </div><a routerLink="/decyat_privychek" routerLinkActive="active"  class="e6_618">10 привычек из СССР, которые стали экотрендами последних лет</a>
        <div class="e6_619"></div>
      </div>
    </div>
    <div class="e6_205"></div>
    <div class="e6_206"></div><span  class="e6_209"> 1. Сортировка мусора — это квест, игра. Сначала вы ищете ближайший контейнер к дому — это можно сделать на известной карте Recyclemap, которую собирают волонтеры (ее последняя версия даже умеет строить маршруты).
  
  Посмотрите, что написано на самом контейнере: мусорщики должны оставлять памятки. Например, если из всего пластика у вас принимают только ПЭТ-бутылки (смотрите таблицу маркировок), то и смысла отбирать дома другой пластик нет — его все равно не переработают. На сломанные, переполненные контейнеры или отсутствие памяток стоит жаловаться прямо в мусорную компанию. Контакты можно найти на той же карте Recyclemap.</span><span  class="e6_210"> 2. Выберите один материал и сортируйте только его. Например, попробуйте накопить батарейки — они занимают мало места. Сейчас в Москве их можно сдать, например, во всех магазинах «Вкусвилл» или IKEA. Хранение мусора дома многих пугает, но его можно оптимизировать. Например, сперва завести небольшую коробку для макулатуры и складывать в нее ненужную бумагу аккуратной стопкой. Остальной мусор также можно уменьшать.
  
   3. Весь отсортированный мусор должен быть чистым и сухим. Стеклянные, пластиковые и железные бутылки и банки лучше споласкивать и снимать с них этикетки. Мытье также поможет комфортно хранить отходы дома — мусор не будет гнить и неприятно пахнуть. Содержимое контейнеров всегда отправляют на дeсортировку, поэтому, если случайно положить в бак не тот вид пластика или смешать стеклянные бутылки и жестяные банки, ничего страшного не случится. А вот если в контейнер для сухих отходов вылить борщ или выкинуть гнилую рыбу, они загрязнят сырье и испортят в первую очередь бумагу.
  
   4. Пока вы привыкаете к правилам игры, у вас постепенно выработаются новые привычки — например, еще в магазине смотреть на донышко бутылки, чтобы определить вид пластика, из которого она сделана. Вы не просто разделяете, но и производите меньше мусора: берете с собой многоразовые сумки и стаканы для кофе, перестали покупать одноразовую посуду и продукты в лишних обертках (завернутые в пленку бананы или виноград), а также в упаковках из сложных материалов, таких как фольгированный полипропилен — это обычные пачки сухариков или чипсов.</span>
    <div class="e6_211"></div>
    <div class=e6_215>
      <div class=e6_216>
        <div class=e6_217>
          <div class="e6_218"></div>
        </div>
        
          <div class=e6_220>
            <div class="e6_221">
          </div>
        </div>
        <div class=e6_222>
          <div class=e6_225>
            <div class="e6_226"></div>
          </div>
        </div>
      </div>
    </div><span  class="e6_227">Как перестать быть варваром и начать сортировать мусор</span>
    <div class="e6_232"></div>
    <div class=e6_236>
      <div class="e6_238"></div>
      <div class="e6_239"></div>
    </div>
  </div>
