<head>
    
    <link rel="stylesheet" href="numberone.component.css">
  </head>
<div class=e1_6>
    <div class=e1_7><span  class="e1_8">Другие новости
  </span>
      <div class=e1_9>
        <div class=e1_10>
          <div class=e1_12>
            <div class="e1_11"></div>
            <div class="e1_13"></div>
          </div>
        </div><a routerLink="/kak_perestat_byt_varvarom" routerLinkActive="active"  class="e1_14">Как перестать быть варваром и начать сортировать мусор</a>
        <div class="e1_15"></div>
      </div>
      <div class=e1_24>
        <div class=e1_25>
          <div class=e1_27>
            <div class="e1_26"></div>
            <div class="e1_28"></div>
            <div class="e1_29"></div>
          </div>
        </div><a routerLink="/decyat_privychek" class="e1_30">10 привычек из СССР, которые стали экотрендами последних лет</a>
        <div class="e1_31"></div>
      </div>
    </div>
    <div class="e1_88"></div>
    <div class="e1_89"></div><span  class="e1_93">  Пластик не разлагается в прямом смысле — он устойчив и лишь постепенно распадается на все более мелкие частицы. Микропластиком называют любые пластиковые кусочки размером от 5 миллиметров до микрометра — это в 40–120 раз тоньше человеческого волоса. Есть и более мелкие элементы — субмикропластик, а затем нанопластик. Они практически не изучены, хотя уже известно, что такие частицы могут проникать сквозь клеточные мембраны (какой вред это наносит живым организмам, пока не выяснили).
  
  
   Откуда берется микропластик
  
    Сейчас в мире производят около 300 миллионов тонн пластика ежегодно, и большая его часть оказывается на свалках. Посчитать точно, сколько микропластика попадает в океаны, сложно: только по некоторым пессимистичным оценкам это примерно 17 миллионов тонн в год.
  
    Микропластик образуется из пакетов, бутылок, любой другой пластмассовой упаковки, автомобильных шин, отслоившейся краски, он содержится в городской пыли, а еще смывается в канализацию после каждой стирки синтетики. Пластиковые гранулы специально добавляют в шампуни, гели для душа, скрабы, стиральные порошки и зубную пасту для лучшего чистящего эффекта. Продажу глиттера и других косметических продуктов с частицами пластика уже запретили в нескольких странах.</span><span  class="e1_94"> Пластисфера
  
    Количество пластика — показатель влияния людей на планету: чем его больше, тем сильнее антропогенная нагрузка. Пластик уже образовал так называемую пластисферу — новую среду обитания. На кусочках пластика растут водоросли и бактерии, живут или прячутся животные. Например, раки-отшельники используют пластиковые крышки от бутылок в качестве раковин, клопы-водомерки, которые путешествуют по поверхности океана, откладывают на пластиковом мусоре яйца, а мальки рыб заплывают в бутылки, как в убежища, из которых удобно наблюдать.
    
    Несмотря на масштаб, проблема микропластика пока не звучит так громко, как тема глобального изменения климата. Впервые о микропластике заговорили еще в 1970-х, но крупные работы появились лишь 15 лет назад. Недавно ВОЗ объявила, что угроза микропластика для человека не доказана. Всего сотрудники организации изучили 52 публикации, посвященные микрочастицам, и обнаружили, что только четыре соответствуют критериям качества (речь идет, например, о методах отбора проб).
  
    Эксперты отметили, что сегодня концентрации микропластика в питьевой воде не опасны для человека, но признали, что знания по этому вопросу пока ограничены. То есть в организации считают, что для более точной оценки нужно больше качественных исследований. Чтобы такие работы появились, микропластик нужно объявить серьезной проблемой. Кажется, для этого нам снова нужна Грета Тумберг.
  
    В Национальной медицинской библиотеке США по запросу «микропластик» можно найти около тысячи статей. В базе данных российских исследований — около сотни публикаций. Это отражает довольно слабый интерес к теме, учитывая, сколько времени прошло с момента открытия, говорит старший научный сотрудник кафедры высокомолекулярных соединений химического факультета МГУ Андрей Сыбачин.</span><span  class="e1_97"> Что уже доказали
  
    Хотя непосредственный вред микропластика для крупных животных пока не доказан, ученые уже показали, что он влияет на природу в целом. «Мелкие животные поедают частички, обросшие водорослями или бактериальной пленкой, принимая их за еду. Пластик накапливается у них в пищеварительных системах, от чего они гибнут, а это, в свою очередь, разрушает всю экосистему, потому что планктон — основа пищевой цепи», — рассказывает Михаил Колобов, старший научный сотрудник кафедры гидробиологии и общей экологии МГУ.
  
    В пластике есть токсичные вещества — красители, пластификаторы (они придают эластичность материалам), растворители. Они могут повреждать органы и ткани мелких животных. Но пока непонятно, в каких масштабах это происходит в природе: большинство экспериментов проводят в лабораториях.
  
    Также частицы, как губки, впитывают вредные примеси и переносят их на большие расстояния. «В некоторых пластмассах содержится, к примеру, бисфенол А, который имитирует эстроген — женский половой гормон. Попадая в среду в большом количестве, он способен менять половые циклы животных, например, снижать их возможность к размножению», — отмечает гидробиолог.</span>
    <div class=e6_12>
      <div class=e6_13>
        <div class=e6_14>
          <div class="e6_15"></div>
        </div>
        <div class=e6_16>
          <div class=e6_17>
            
          </div>
        </div>
        <div class=e6_19>
          <div class=e6_22>
            <div class="e6_23"></div>
          </div>
        </div>
      </div>
    </div><span  class="e1_189">Микропластик: Как крошечные частицы вредят природе и человеку</span>
    <div class=e1_204><span  class="e1_205">Ученые выяснили, что у личинок обыкновенного комара микрочастицы пластика остаются в пищеварительной системе и во взрослой стадии — таким образом пластик «выходит» из воды на сушу и загрязняет и ее тоже. В океанах, реках и земле пластика уже столько, что, даже если человечество прямо сейчас полностью остановит производство, он останется в природе еще очень и очень долго.</span>
      <div class="e1_206"></div>
      <div class="e1_207"></div>
    </div>
    <div class=e1_212>
      <div class="e1_214"></div>
      <div class="e1_215"></div>
    </div>
  </div>
