.e6_163 { 
	overflow:hidden;
}
.e6_163 { 
	background-color:rgba(247.00000047683716, 244.0000006556511, 244.0000006556511, 1);
	width:1920px;
	height:3393px;
	position:absolute;
}
.e6_164 { 
	width:827px;
	height:404px;
	position:absolute;
	left:278px;
	top:2694px;
}
.e6_165 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:525.4248046875px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e6_166 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:47px;
}
.e6_167 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_169 { 
	overflow:hidden;
}
.e6_169 { 
	background-color:rgba(229.15577799081802, 229.15577799081802, 229.15577799081802, 1);
	width:396.400390625px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(mixed)px;
}
.e6_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e6_168 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e6_170 { 
	width:407.2819519042969px;
	height:200px;
	position:absolute;
	left:-1.554511308670044px;
	top:0px;
	background-image:url(https://fb.ru/media/i/2/1/9/9/2/0/4/i/2199204.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_171 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:334.21990966796875px;
	height:50px;
	position:absolute;
	left:31.090225219726562px;
	top:224px;
	font-family:IBM Plex Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_172 { 
	opacity:0.10000000149011612;
	width:334.21990966796875px;
	height:0px;
	position:absolute;
	left:31.090225219726562px;
	top:309px;
}
.e6_172 { 
	border:1px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}
.e6_173 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:430.599609375px;
	top:47px;
}
.e6_174 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_176 { 
	overflow:hidden;
}
.e6_176 { 
	background-color:rgba(229.15577799081802, 229.15577799081802, 229.15577799081802, 1);
	width:396.400390625px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(mixed)px;
}
.e6_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e6_177 { 
	width:657.5582885742188px;
	height:282px;
	position:absolute;
	left:-161.66915893554688px;
	top:-6px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_178 { 
	width:621.8045043945312px;
	height:200px;
	position:absolute;
	left:-113.47930908203125px;
	top:0px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_179 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:334.21990966796875px;
	height:63px;
	position:absolute;
	left:31.090240478515625px;
	top:224px;
	font-family:IBM Plex Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_180 { 
	opacity:0.10000000149011612;
	width:334.21990966796875px;
	height:0px;
	position:absolute;
	left:31.090240478515625px;
	top:309px;
}
.e6_180 { 
	border:1px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}
.e6_612 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:430.599609375px;
	top:47px;
}
.e6_613 { 
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_615 { 
	overflow:hidden;
}
.e6_615 { 
	background-color:rgba(229.15577799081802, 229.15577799081802, 229.15577799081802, 1);
	width:396.400390625px;
	height:200px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(mixed)px;
}
.e6_614 { 
	background-color:rgba(255, 255, 255, 1);
	width:396.400390625px;
	height:357px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.e6_616 { 
	width:657.5582885742188px;
	height:282px;
	position:absolute;
	left: -100px;
	top: -100px;
	background-image:url(https://a.radikal.ru/a07/2103/44/0356cb6801a1t.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_617 { 
	width:621.8045043945312px;
	height:200px;
	position:absolute;
	left:-113.47930908203125px;
	top:0px;
	
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_618 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	width:334.21990966796875px;
	height:63px;
	position:absolute;
	left:31.090240478515625px;
	top:224px;
	font-family:IBM Plex Serif;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e6_619 { 
	opacity:0.10000000149011612;
	width:334.21990966796875px;
	height:0px;
	position:absolute;
	left:31.090240478515625px;
	top:309px;
}
.e6_619 { 
	border:1px solid rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
}
.e6_205 { 
	background-color:rgba(66.00000366568565, 46.000001057982445, 57.00000040233135, 1);
	width:1920px;
	height:410px;
	position:absolute;
	left:0px;
	top:86px;
}
.e6_206 { 
	width:1050px;
	height:423px;
	position:absolute;
	left:435px;
	top:295px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_209 { 
	color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:1050px;
	height:396px;
	position:absolute;
	left:435px;
	top:791px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e6_210 { 
	color:rgba(42.000001296401024, 42.000001296401024, 42.000001296401024, 1);
	width:1045px;
	height:477px;
	position:absolute;
	left:437px;
	top:1615px;
	font-family:Nunito Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e6_211 { 
	width:815px;
	height:544.3035888671875px;
	position:absolute;
	left:552px;
	top:2105px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_215 { 
	width:1920px;
	height:250px;
	position:absolute;
	left:0px;
	top:3143px;
}
.e6_216 { 
	width:1920px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_217 { 
	width:1920px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_218 { 
	background-color:rgba(66.00000366568565, 46.000001057982445, 57.00000040233135, 1);
	width:1920px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_219 { 
	width:27.428430557250977px;
	height:27.428430557250977px;
	position:absolute;
	left:1281px;
	top:79px;
}
.e6_220 { 
	width:27.428430557250977px;
	height:27.428430557250977px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_221 { 
	background-color:rgba(255, 255, 255, 1);
	width:27.428430557250977px;
	height:27.428430557250977px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_222 { 
	width:941px;
	height:84.84848022460938px;
	position:absolute;
	left:446px;
	top:60px;
}
.e6_223 { 
	color:rgba(255, 255, 255, 1);
	width:106px;
	height:32px;
	position:absolute;
	left:835px;
	top:20px;
	font-family:Poppins;
	text-align:center;
	font-size:15px;
	letter-spacing:2;
}
.e6_224 { 
	color:rgba(255, 255, 255, 1);
	width:235px;
	height:32px;
	position:absolute;
	left:326px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:2;
}
.e6_225 { 
	width:140px;
	height:84.84848022460938px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_226 { 
	width:140px;
	height:84.84848022460938px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_227 { 
	color:rgba(255, 255, 255, 1);
	width:800px;
	height:109px;
	position:absolute;
	left:560px;
	top:146px;
	font-family:IBM Plex Serif;
	text-align:center;
	font-size:42px;
	letter-spacing:0;
}
.e6_232 { 
	width:815px;
	height:520px;
	position:absolute;
	left:552px;
	top:1022px;
	background-image:url();
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_236 { 
	width:1920px;
	height:86px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_238 { 
	background-color: rgba(255, 255, 255, 100);
    width: 1920px;
    height: 80px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.e6_239 { 
	width:80px;
	height:71.21875px;
	position:absolute;
	left:286px;
	top:7.525000095367432px;
	background-image:url(https://d.radikal.ru/d06/2103/4a/4a8026378421.png);
	background-repeat:no-repeat;
	background-size:cover;
}
