<div class=e6_240>
    <div class=e6_241><span  class="e6_242">Другие новости
  </span>
      <div class=e6_555>
        <div class=e6_556>
          <div class=e6_558>
            <div class="e6_557"></div>
            <div class="e6_559"></div>
          </div>
        </div><a routerLink="/kak_perestat_byt_varvarom" routerLinkActive="active"  class="e6_560">Как перестать быть варваром и начать сортировать мусор</a>
        <div class="e6_561"></div>
      </div>
      <div class=e6_577>
        <div class=e6_578>
          <div class=e6_580>
            <div class="e6_579"></div>
            <div class="e6_581"></div>
          </div>
        </div><a routerLink="/microplastic" routerLinkActive="active" class="e6_582">Микропластик: Как крошечные частицы вредят природе и человеку</a>
        <div class="e6_583"></div>
      </div>
    </div>
    <div class="e6_282"></div>
    <div class="e6_283"></div><span  class="e6_286"> Ходить в магазин с авоськой и бидоном
  
    Авоськи, мешочки, сетки и стеклянные банки стали обязательными атрибутами современного нольотходника (человека, старающегося сократить свои отходы, — от zero waste), но именно так раньше ходили по магазинам и на рынок. Во времена, когда не было пластика, масло, сыр и мясо упаковывали в бумагу или газету, молоко наливали в бидон, а сметану — в банку. Это возможно и сейчас: в Москве есть несколько zero-waste-магазинов, в которых все товары продаются без упаковки. Отправиться со своим контейнером или фруктовкой можно и в обычный магазин рядом с домом — мы даже проводили такой эксперимент.
  
  
   Собирать макулатуру и металлолом
  
    Для жителей Советского Союза сдавать стекло, бумагу, металлолом и текстиль на переработку было нормой. Пустыми «чебурашками» из-под лимонада или молока можно было расплатиться за новые покупки. Сбор макулатуры тоже был хорошо налажен, особенно в учебных заведениях. За несколько килограммов газет выдавали талоны, по которым можно было купить книги зарубежных авторов. Собирали даже пищевые отходы — они шли на корм скоту. 
  </span><span  class="e6_287"> Использовать возвратную тару
  
    Важно, что в магазинах залоговая цена бутылок была достаточно высокой: так покупателей стимулировали возвращать тару. Впрочем, вариантов делать как-то по-другому просто не было, поэтому цепочка «использовал —помыл — использовал снова» не была сверхусилием. Многие также любят вспоминать уличные автоматы с газировкой, оборудованные механизмом автоматического споласкивания, где все пользовались одним и тем же стаканом. В некотором смысле этот формат сейчас возвращается: на экоориентированных фестивалях начали продавать напитки в залоговых стаканах, а в экокофейнях появились возвратные чашки.
  
  
   Чинить вещи
  
    Наши родители умели чинить одежду или даже перешивали старую по новому фасону. Думаем, в эпоху быстрой моды, оказывающей крайне негативное воздействие на окружающую среду, было бы очень кстати выработать привычку относить одежду в ремонт вместо регулярной покупки новой. Это относится не только к одежде: телевизоры, компьютеры и чайники делают так, чтобы через два года мы были вынуждены покупать новые. Найти мастеров по ремонту абсолютно всей бытовой техники, может, и не удастся, но задуматься о том, можно ли починить вещь, перед тем как нести ее на свалку, — точно стоит.
  
  
   Завести огород на балконе
  
    В городских условиях можно вырастить некоторые из продуктов, которые мы обычно покупаем в супермаркете: например, помидоры черри, редиску, пряные травы, морковь и даже лимон. Собственный, пусть и крошечный огород — очень медитативное хобби, возможность узнать, как растут разные культуры, и хотя бы иногда есть свежие овощи и фрукты, выращенные без вредных удобрений и пестицидов. Мы советуем вступить в группу Humans Who Grow Food на фейсбуке, чтобы вдохновляться историями людей со всего мира, которые открыли для себя огородничество и начали вести более экологичный и осознанный образ жизни.
  
  
   Консервировать овощи и фрукты
    
    Когда покупаешь продукты только в супермаркете и не вчитываешься в то, откуда они привезены, легко забыть, что такое сезонность. На самом деле, покупка продуктов местного производства и сокращение таким образом их транспортного следа — это один из важнейших принципов ответственного потребления. Однако у сезонности есть и оборотная сторона: не получится готовить одни и те же блюда круглый год. В советское время эта проблема легко решалась: на зиму варили варенье, квасили капусту, солили огурцы и грибы, мариновали помидоры. Сейчас в моду вошло ферментирование овощей, например капусты, — так что можно считать, что эта хорошая привычка возвращается.</span>
    <div class="e6_288"></div><span  class="e6_290"> Заниматься спортом на свежем воздухе
  
    Раньше горожане не проводили вечера на велодорожках и степперах, а занимались спортом на улице. Летом это были, например, занятия на турниках, зимой — катание на беговых лыжах и коньках. Мы не предлагаем совсем отказываться от залов, но рекомендуем заменить некоторые силовые или кардиотренировки занятиями на улице. Многие тренеры проводят занятия фитнесом, йогой, паркуром, боксом и бегом на свежем воздухе. В некоторых районах соседи собираются и играют в волейбол и баскетбол. Можно присоединиться к ним или собрать собственную команду.
  
  
   Устраивать субботники
  
    В целом совместная уборка — естественный процесс, ведь дома мы тоже вместе убираемся. В Санкт-Петербурге, например, в 2014 году запустили проект «Чистые игры», который за пять лет стал международным: людям нравятся такие общественные акции, особенно когда к ним примешивается некоторый азарт. Если вы любите бегать, то захватите на пробежку пакет и перчатки: плоггинг (пробежка, совмещенная со сбором мусора. — Прим. ред.) сейчас очень популярен в городах.
  
  
   Путешествовать по стране
  
    В советское время были приняты походы и сплавы на байдарках. Сегодня сервис на зарубежных курортах гораздо притягательнее, чем в большинстве городов России, но для любителей природы и тишины такой отдых на природе — хороший вариант. Тем более что до многих красивых мест можно добраться на машине или поезде, что позволяет избежать большого углеродного следа, с которым связаны путешествия на самолете.
  
  
   Уметь отключаться
  
    У наших родителей не было такого обилия информации, как сейчас, и они не занимали любую свободную минуту с помощью телефона. Мы же панически боимся скуки и зависаем с гаджетами каждую свободную минуту. Однако все больше исследователей приходят к выводу, что скука оказывает благотворное влияние на мозг: такие моменты необходимы для творческого решения стоящих перед нами задач.
  </span>
    <div class=e6_292>
      <div class=e6_293>
        <div class=e6_294>
          <div class="e6_295"></div>
        </div>

          <div class=e6_297>
            <div class="e6_298">
          </div>
        </div>
        <div class=e6_299>
          <div class=e6_302>
            <div class="e6_303"></div>
          </div>
        </div>
      </div>
    </div><span  class="e6_304">10 привычек из СССР, которые стали экотрендами последних лет</span>
    <div class="e6_309"></div>
    <div class=e6_313>
      <div class="e6_315"></div>
      <div class="e6_316"></div>
    </div>
  </div>
